In [16]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
import numpy as np

In [4]:
d = webdriver.Chrome(executable_path='chromedriver')
d.implicitly_wait(10)

In [7]:
d.get('https://seller.flipkart.com/')

In [5]:
def act(url):
    d.get(url)
    for i in range(10,51,10):
        ActionChains(d).move_to_element(d.find_element_by_xpath('//li[contains(@class,"cf-list'+str(i)+'")]')).perform()
    l1 = d.find_elements_by_xpath('//div/small[@class="txt-reference-id"][2]')
    R_ids = [i.text for i in l1]
    return R_ids

In [12]:
def od_reas(R_ids,End_str):
    data = []
    for r in R_ids:
        d.get("https://seller.flipkart.com/index.html#dashboard/viewIssueManagementTicket/"+r+End_str)
        time.sleep(4)
        d.find_elements_by_xpath('//i[contains(@class,"expand")]')[-1].click()
        time.sleep(2)
        t = d.find_elements_by_xpath('//div[contains(@class,"thread-text")]')
        s = d.find_elements_by_tag_name('td')
        Od_Id = 's'
        for j in range(len(s)):
            if s[j].text =='Order ID:':
                Od_Id = s[j+1].text
                break
        data.append([Od_Id,t[-1].text])
        print(Od_Id)
    return data

In [14]:
R_ids1 = act('https://seller.flipkart.com/index.html#dashboard/sellerSupport/manageTickets/spf/tickets')
data1 = od_reas(R_ids1,'/SPF')

s
OD222076264857425000
OD122045749783444000
OD122016327103531000
OD121761949685220000
OD221731799916820000
OD121724235438305000
OD121624418717122000
OD121561844764139000
OD121531741231132000
OD121326036524657000
OD121421665924520000
OD121479853626935000
OD121446049642829000
OD121431002410280000
OD221368423556500000
OD121299111872464000
OD221312674095583000
OD221341081774731000
OD121160223103355000
OD121299878840911000
OD121248432310269000
OD221255917646228000
OD121255691894279000
OD121259962415817000
OD221219992993617000
OD220617972832039000
OD121242633168217000
OD121138958555205000
OD121023627568665000
OD221181836063606000
OD121151742474013000
OD121064326672660000
OD121151354582321000
OD121143791934779000
OD121112615100217000
OD121083777104843000
OD121043243117467000
OD120953128700600000
OD120998894296861000
OD220903593678000000
OD120914105233331000
OD120928261756825000
OD120953255330461000
OD120848927645940000
OD120841694781910000
OD120888009849482000
OD220641573900417000
OD220861757930487000
OD120824839735720000

In [17]:
df1 = pd.DataFrame(data1,columns = ['OrderId','Reason'])
df1

                 OrderId                                             Reason
0                      s  Dear Seller Support Team, Please send us the c...
1   OD222076264857425000  We send customer a brand new Milton econa delu...
2   OD122045749783444000  We send customer a brand new Milton's prodent ...
3   OD122016327103531000  We send customer a brand new Milton's prodent ...
4   OD121761949685220000  We send a brand new product Milton's prudent 1...
5   OD221731799916820000  We send customer a brand new Milton's microwav...
6   OD121724235438305000  We send customer a brand new Milton's chic 4. ...
7   OD121624418717122000  We send customer a brand new Milton Duke 1000 ...
8   OD121561844764139000  We send customer a brand new Milton prudent 11...
9   OD121531741231132000  We send customer a brand new Milton Duk 1000. ...
10  OD121326036524657000  We send customer a brand new Milton prudent 11...
11  OD121421665924520000  We send a brand new Milton kool n sporty blue ...
12  OD121479853626935000  I send customer a brand new kool n sporty but ...
13  OD121446049642829000  We send customer a brand new Milton Duke 1000....
14  OD121431002410280000  We send customer a brand new Milton electron 4...
15  OD221368423556500000  We send customer a brand new Milton polar ice ...
16  OD121299111872464000  We send a brand new Milton duo 2200with handle...
17  OD221312674095583000  We send a brand new Milton prudent blue 1100. ...
18  OD221341081774731000  We send a brand new Milton econa deluxe 3. But...
19  OD121160223103355000  We send a brand new M 90 active baby pamper. B...
20  OD121299878840911000  We send a brand new Milton prudent blue 1100. ...
21  OD121248432310269000  We send a brand new Milton vertex 1000 bottle ...
22  OD221255917646228000  We send a brand new Milton prudent blue 1100.B...
23  OD121255691894279000  We send a brand new Milton duo with handle 220...
24  OD121259962415817000  We send a brand new Milton prudent blue 1100. ...
25  OD221219992993617000  We send a brand new Duo 2200 with handle but t...
26  OD220617972832039000  We send brand new vtl 5424 Deep fryer. But in ...
27  OD121242633168217000  We send a brand new tasty lunch 3 combo but in...
28  OD121138958555205000  We send a brand new duo 2200 with handle. But ...
29  OD121023627568665000  We send a brand new futron 4 badami colour. Bu...
30  OD221181836063606000  We send a brand new Milton prudent blue 1100. ...
31  OD121151742474013000  We send a brand new steel combi 3. But in retu...
32  OD121064326672660000  We send a brand new Milton duo 2200 with handl...
33  OD121151354582321000  We send a brand new Milton prudent 1100. But i...
34  OD121143791934779000  We send a brand new Duk 1000 Milton thermo bot...
35  OD121112615100217000  We send brand New duo 2200 with handle. But in...
36  OD121083777104843000  We send a brand new kool & sporty. But in retu...
37  OD121043243117467000  We send a brand new Milton prudent blue 1100. ...
38  OD120953128700600000  We send a brand new electron 4. But in return ...
39  OD120998894296861000  We send a brand new thermo steel 2200 with han...
40  OD220903593678000000  We send a brand new tasty combo 4. But in retu...
41  OD120914105233331000  We send a brand new futron 4 badami colour. Bu...
42  OD120928261756825000  We send a brand new electron 3. But in return ...
43  OD120953255330461000  We send brand new election 3. But in return we...
44  OD120848927645940000  We send a brand new futron 4 badami colour. Bu...
45  OD120841694781910000  We send a brand new futron 4 white colour. But...
46  OD120888009849482000  We send a brand new futron 4 badami colour. Bu...
47  OD220641573900417000  we send a brand new futron 3 but in return we ...
48  OD220861757930487000  We send a brand new electron 4. But in return ...
49  OD120824839735720000  We send a brand new prudent 500. But in return...

In [255]:
d.find_elements_by_xpath('//div[contains(@class,"pull-right")]')

In [18]:
R_ids2 = act('https://seller.flipkart.com/index.html#dashboard/sellerSupport/manageTickets/general/tickets')
t = d.find_elements_by_xpath('//span[contains(@class,"pull-right")]')
Rs = []
for i in range(len(t)):
    if 'Claim' in t[i].text:
        Rs.append(R_ids2[i])
print(Rs)
data2 = od_reas(Rs,'/SELLER_SELF_SERVE')

['IN2104271029390541197', 'IN2104271018113561640', 'IN2104271023234187650', 'IN2104271012442062608', 'IN2103301600117438550', 'IN2103231527175640321', 'IN2103231530044958969', 'IN2103221627408926955', 'IN2103231541161037141', 'IN2103231533094425416', 'IN2103231515481055800', 'IN2103181142127282126', 'IN2103181146423843461', 'IN2103181152067531807', 'IN2103161503295906883', 'IN2103161457577501702', 'IN2103091526429209484', 'IN2103041415187550381', 'IN2103021248178042813', 'IN2102261547209750157', 'IN2102271357387074079', 'IN2102161827112327141', 'IN2102131322322817034', 'IN2102131330346878693', 'IN2102131317442555004', 'IN2101301806366000545', 'IN2012010217482690385', 'IN2011211525385229283']
OD120818420374315000
OD120685419809800000
OD120677900519241000
OD120626488085984000
OD121264930317780000
OD220472019620168000
OD220593192816482000
OD121238844033421000
OD120563015089164000
OD120600875578833000

......
,.,.
....
OD120498925363802000
OD120444600510730000
OD221142348877848000
OD220360919128686000
OD121043465296100000
OD221082377568083000
OD120356215973406000
/
OD120275915242958000
OD120307866653107000
OD120171326157416000
0
..
A

In [24]:
for entry in data2:
    if entry[0].startswith('OD') and entry[0] not in df1.OrderId:
        df1.loc[len(df1.index)] = entry

In [30]:
df1.drop(0,axis=0,inplace=True)

In [32]:
df1.reset_index(drop=True,inplace=True)

In [33]:
df1

                 OrderId                                             Reason
0   OD222076264857425000  We send customer a brand new Milton econa delu...
1   OD122045749783444000  We send customer a brand new Milton's prodent ...
2   OD122016327103531000  We send customer a brand new Milton's prodent ...
3   OD121761949685220000  We send a brand new product Milton's prudent 1...
4   OD221731799916820000  We send customer a brand new Milton's microwav...
..                   ...                                                ...
64  OD221082377568083000  I send three items of the said OD. OD121065724...
65  OD120356215973406000  I send a brand new prudent 1100. But not recei...
66  OD120275915242958000  I have not received my product post 60 days. I...
67  OD120307866653107000  I have not received my return after 60 days. P...
68  OD120171326157416000  I have not received my return after completion...

[69 rows x 2 columns]

In [34]:
df1.to_csv('spf_claims.csv',index=False)

In [42]:
df = pd.read_csv('spf_claims_Edited.csv')
df

                 OrderId                 Reason
0   OD222076264857425000                   Used
1   OD122045749783444000                Damaged
2   OD122016327103531000                   Used
3   OD121761949685220000  Wrong/Missing Product
4   OD221731799916820000  Wrong/Missing Product
..                   ...                    ...
65  OD121065724167240000           Not Received
66  OD120356215973406000               60+ Days
67  OD120275915242958000               60+ Days
68  OD120307866653107000               60+ Days
69  OD120171326157416000               60+ Days

[70 rows x 2 columns]

In [43]:
df.Reason.value_counts()

Wrong/Missing Product    26
60+ Days                 15
Used                     15
Damaged                   8
Not Received              6
Name: Reason, dtype: int64